# Build artifacts
*.exe
*.dll
*.obj
*.o
*.log

*.DS_Store

# ImGui config
imgui.ini

# VS Code settings
.vscode/

# build
build/
buildGNU/


# some assets
assets/audio/
assets/skybox
# vcpkg
vcpkg_installed/